* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/91/Zsolt_N%C3%A1ndor-001.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}

h1 {
    color: white;
}

.headerBackground {
    background-color: #5595B0;
    background-size: cover;
}

.mainHeader {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
}

.topnav {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    justify-content: center;
    padding: 20px ;
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

.topnav a:hover {
    background-color: #91B8B1;
    color: black;
  }

.topnav a.active {
    background-color: white;
    color: black;
  }

  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #5595B0;
    text-align: center;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5595B0;
}

li {
    float: left;
    padding: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #5595B0;
  }
